<h1 class="mt-4" style="color:white; text-align: center;" >Find the Lost</h1>
<br></br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<body style="background-color:#171717;">
<br></br>
<div class="topnav" style=" background-color: #000000; overflow: hidden;">
    <a class="active" href="dashboard" onmouseover="style.background='#ddd'" onmouseout="style.background='#000000'" style="font-family: 'Open Sans', sans-serif; float: left; color: #f2f2f2; text-align: center; padding: 14px 150.5px; text-decoration: none; font-size: 17px;">Home</a>
    <a href="Lost" onmouseover="style.background='#ddd'" onmouseout="style.background='#000000'" style="font-family: 'Open Sans', sans-serif; float: left; color: #f2f2f2; text-align: center; padding: 14px 150.5px; text-decoration: none; font-size: 17px;">Lost Property</a>
    <a href="Contact" onmouseover="style.background='#ddd'" onmouseout="style.background='#000000'" style="font-family: 'Open Sans', sans-serif; float: left; color: #f2f2f2; text-align: center; padding: 14px 150.5px; text-decoration: none; font-size: 17px;">Contact</a>
  </div>
  <h1 class="mt-4" style="color:white; text-align: center; font-size: 30px;" >Contacts</h1> 
  <br></br>
  <div style="color:white; text-align: center;">
    <p>if your request has been accepted, you will receive an email that your lost item has been recorded into the system. 
      With the email below you are able to email me about any concerns that you may have suchas your request being rejected.</p>
      <p>jeavanlalli@live.co.uk</p>
      <p></p>
    </div>