<h1 class="mt-4" style="color:white; text-align: center;" >Find the Lost</h1> 
<p class="lead mb-3" style="color:white; text-align: center;" >Welcome User <%- name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<body style="background-color:#171717;">
<br></br>
<div class="topnav" style=" background-color: #000000; overflow: hidden;">
  <a class="active" href="dashboard" onmouseover="style.background='#ddd'" onmouseout="style.background='#000000'" style="font-family: 'Open Sans', sans-serif; float: left; color: #f2f2f2; text-align: center; padding: 14px 150.5px; text-decoration: none; font-size: 17px;">Home</a>
  <a href="Lost" onmouseover="style.background='#ddd'" onmouseout="style.background='#000000'" style="font-family: 'Open Sans', sans-serif; float: left; color: #f2f2f2; text-align: center; padding: 14px 150.5px; text-decoration: none; font-size: 17px;">Lost Property</a>
  <a href="Contact" onmouseover="style.background='#ddd'" onmouseout="style.background='#000000'" style="font-family: 'Open Sans', sans-serif; float: left; color: #f2f2f2; text-align: center; padding: 14px 150.5px; text-decoration: none; font-size: 17px;">Contact</a>
</div>
<h1 class="mt-4" style="color:white; text-align: center; font-size: 30px;" >Introduction</h1> 
<br></br>
<div style="color:white;">
<p>Hundreds and thousands of items get lost everyday and it can be very difficult returning these items to the correct owner. 
  The Find-the-Lost form allows you to request for a lost item that is already in the database or add a lost item that you have found into the database. 
  By adding your personal details and a full description of the item; when it was found, where it was found and what it looks like, we are able to return the lost item to its rightful owner.</p>
  <p>The login system is in place that we are able to easily contact them through email. Also the login system is secure. 
  This means that two of the same email address can not be registered in the system. 
  Also an email address, that is not registered, can not be used to login.</p>
  <p>Finally, the contacts page will allow you to ring or email me about a lost item that they know is recorded in the database. 
  They will be notified that there item is recorded in the database through an email sent by myself. 
</p>
</div>